@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.age_wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 75px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}
#header .logo {
  width: 60vw;
}
#header .logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 20px;
}

#nav-bar {
  font-weight: 400;
}
#nav-bar ul {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#nav-bar .nav-link:hover {
  text-decoration: underline;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: orange !important;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
.container #hero h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
.container #hero input[type=email] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
.container #hero input[type=submit] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#feartures {
  margin-top: 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.grid .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}
.grid .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#how-it-works {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#how-it-works iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 33.3333333333%;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product h2 {
  margin-top: 15px;
}
.product ol {
  margin: 15px 0;
}
.product ol li {
  padding: 5px 0;
}
.product button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer ul li {
  padding: 0 10px;
}
footer span {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
footer span > a {
  text-decoration: underline;
  margin-left: 10px;
  color: blue;
}
footer span > a:hover {
  opacity: 0.5;
}

@media (max-width: 550px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #nav-bar ul {
    margin-top: 5px;
  }
  #nav-bar ul li {
    margin: 2.5px 0;
  }
  .container #hero {
    margin-top: 120px;
  }
  .grid > .icon {
    display: none;
  }
  .grid .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
@media (max-width: 650px) {
  #header .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  #header .logo img {
    margin: 0 auto;
  }
  #nav-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  #nav-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #feartures {
    margin-top: 0;
  }
  #hero {
    margin-top: 70px;
  }
}
@media (max-width: 800px) {
  #pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}